// Add your code here
html, body {
  padding: 0;
  margin: 0;
}

ul.whitepapers-tags {
  padding-left: 0;
  margin: 0;
  list-style: none;

  .badge:before {
    content: "";
    display: none;
  }
  
  .badge-primary {
    background: #333;
  }
}

table.whitepapers-table {
  tbody tr:nth-child(2n) {
    background-color: inherit; 
  }
}
