<!DOCTYPE html>
<html lang="en">

<head>
    {{> head title=htmlWebpackPlugin.options.title}}
</head>
{{#> body filename=htmlWebpackPlugin.options.filename}}
<section class="container-fluid wide-container" style="">
    <div class="row row-widewidth">
        <div class="col-12">
            <div class="heroOverlay heroOverlay-light-blue">
                <!-- hero theme: heroOverlay-light or heroOverlay-dark -->
                <div class="heroOverlay-content">
                    <div class="teaser theme-primary-color-background">
                        <div class="teaser-content richtext richtext-teaser">
                            <div class="teaser-body">
                                <h1 class='h1 teaser-headline-accent theme-color-accent'>Ørsted</h1>
                                <h2 class='h4 teaser-headline'><b>We are a renewable energy company that takes tangible
                                        action to create a world that runs entirely <br />on green energy.</b></h2>
                            </div>
                            <div class="teaser-cta">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="heroOverlay-media">
                    <style>
                        @media only screen and (max-width: 768px) {
                            #Acefa2855-013b-4145-8cba-fa184bac23ca {
                                background-image: url("https://orstedcdn.azureedge.net/-/media/WWW/Images/Corp/Business/Wind/Burbo-Bank-Extension-UK/Full_view2.ashx?mh=720&amp;mw=720&amp;rev=cdc02ed975864d62b609ebec9f62d273&amp;hash=8F5C2DC1ED17824549D3DB29920FDCA5");
                            }
                        }

                        @media only screen and (min-width: 769px) {
                            #Acefa2855-013b-4145-8cba-fa184bac23ca {
                                background-image: url("https://orstedcdn.azureedge.net/-/media/WWW/Images/Corp/Business/Wind/Burbo-Bank-Extension-UK/Full_view2.ashx?mh=1440&amp;mw=1440&amp;rev=cdc02ed975864d62b609ebec9f62d273&amp;hash=00FB91957DACB7CFFBC3519E8A601E50");
                            }
                        }
                    </style>
                    <div id="Acefa2855-013b-4145-8cba-fa184bac23ca"
                        class="heroOverlay-image background-image-center-center" role="img" aria-label="Offshore wind">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="container-fluid wide-container" style="">
    <div class="row row-widewidth">
        <div class="col-12">
            <div class=" teaser teaser-minimised   teaser-horisontal theme-backdrop-2 theme-primary-color-background">
                <div class="teaser-media ">
                    <style>
                        @media only screen {
                            #Af73c951c-6dd1-479b-b7c3-8b58a1d34d66 {
                                background-image: url("https://orstedcdn.azureedge.net/-/media/WWW/Images/Corp/People/Family-and-friends/Family-using-electronics/Man_iPad_inside3.ashx?mh=720&mw=720&rev=97cc54fdb32d42f3ad291b1fcef9cef1&hash=285D73EC50ECB3F362A97FE8980B6E74");
                            }
                        }
                    </style>
                    <div id="Af73c951c-6dd1-479b-b7c3-8b58a1d34d66" class="teaser-img background-image-center-center"
                        role="img" aria-label=""></div>
                </div>
                <div class="teaser-content richtext richtext-teaser">
                    <h2 class='h3 teaser-tagline-minimised theme-color-accent'>Our vision &amp; values</h2>
                    <div class="teaser-body-minimised">
                        <h2 class='h3 teaser-headline'><b>Our vision is to create a world that runs entirely on
                                <br />green energy&nbsp;</b></h2>
                    </div>
                    <div class="teaser-cta">
                        <a class="link-arrow teaser-link-arrow"
                            href="#">Learn more</a>
                    </div>
                </div>
            </div>
            <div class=" teaser   teaser-image-right teaser-horisontal theme-blue-white theme-primary-color-background">
                <div class="teaser-media ">
                    <style>
                        @media only screen {
                            #A0b4c52b2-9404-4db4-94dd-befb51beaca5 {
                                background-image: url("https://orstedcdn.azureedge.net/-/media/WWW/Images/Corp/Employees/Management/New-Executive-Management/Henrik_Poulsen_headshot6.ashx?mh=720&mw=720&rev=81c6640e1871452788567d794ef23b86&hash=1833CDE844765955F87F0E20566EDCA9");
                            }
                        }
                    </style>
                    <div id="A0b4c52b2-9404-4db4-94dd-befb51beaca5" class="teaser-img background-image-center-center"
                        role="img" aria-label=""></div>
                </div>
                <div class="teaser-content richtext richtext-teaser">
                    <div class="teaser-body">
                        <h2 class='h3 teaser-headline-accent theme-color-accent'><span style="color: #4099da;">Our
                                leadership team</span><br /></h2>
                        <h2 class='h4 teaser-headline'>We have a two-tier&nbsp;management structure consisting of a
                            Board of Directors and our Group Executive Management <br /></h2>
                    </div>
                    <div class="teaser-cta">
                        <a class="link-arrow teaser-link-arrow" href="#">View our
                            leadership team</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{{/body}}

</html>
