<!DOCTYPE html>
<html lang="en">

<head>
    {{> head title=htmlWebpackPlugin.options.title}}
</head>
{{#> body filename=htmlWebpackPlugin.options.filename}}
<!--	Content	# begin	-->
<section class="container-fluid wide-container">
    <div class="row row-widewidth">
        <div class="col-12">
            <div class="article article--narrow-media-1 site-theme-blue article-corporate">
                <h1 class="article-headline article-corporate-headline"> Whitepapers </h1>
            </div>
        </div>
    </div>
</section>
<section class="container-fluid narrow-container">
    <div class="row row-narrow">
        <div class="col-12">
            <p>Please edit your code here</p>
            <div class="richtext">
                <table class="whitepapers-table" style="margin-top: 20px;">
                    <tbody>
                        <tr>
                            <td style="text-align: center;" class="whitepapers-img-wrapper"><img class="whitepaper-img" src="https://orstedcdn.azureedge.net/-/media/www/images/corp/whitepapers/whitepaper-covers/unlocking-a-renewable-energy-future-cover.ashx?mh=1440&mw=1440&rev=6950fe267d1c4ad7838eb77e3b2531ad&extension=webp&hash=ACB0F48348A9A90E848AFE3A40F28D55"></td>
                            <td>
                                <h4><strong><span style="color: #4099da;">Unlocking a renewable energy future</span></strong>
                                </h4>
                                <ul class="whitepapers-tags">
                                    <li class="badge badge-primary" data-tag="nature">Nature</li>
                                    <li class="badge badge-primary" data-tag="greentech">Greentech</li>
                                    <li class="badge badge-primary" data-tag="capital">Capital</li>
                                    <li class="badge badge-primary" data-tag="building-green">Building Green</li>
                                </ul>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio voluptate minus
                                    praesentium ea, ex eligendi delectus adipisci. Sapiente voluptatibus minus dolores
                                    magnam, provident quam aperiam error minima debitis ipsa officiis.</p>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: center;" class="whitepapers-img-wrapper"><img class="whitepaper-img" src="https://orstedcdn.azureedge.net/-/media/www/images/corp/whitepapers/whitepaper-covers/green_transformation_cover.ashx?mh=1440&mw=1440&rev=d49e210c9cd84107a0f15d3cf1bbf906&extension=webp&hash=883AC51C66550CCC4DF13B6AB57460F3"></td>
                            <td>
                                <h4><strong><span style="color: #4099da;">Our Green Business Transformation</span></strong>
                                </h4>
                                <ul class="whitepapers-tags">
                                    <li class="badge badge-primary" data-tag="capital">Capital</li>
                                    <li class="badge badge-primary" data-tag="greentech">Greentech</li>
                                    <li class="badge badge-primary" data-tag="nature">Nature</li>
                                </ul>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio voluptate minus
                                    praesentium ea, ex eligendi delectus adipisci. Sapiente voluptatibus minus dolores
                                    magnam, provident quam aperiam error minima debitis ipsa officiis.</p>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: center;" class="whitepapers-img-wrapper"><img class="whitepaper-img" src="https://orstedcdn.azureedge.net/-/media/www/images/corp/whitepapers/whitepaper-covers/ptx_frontpage.ashx?mh=1440&mw=1440&rev=e34af518e8294f2db3b350c949e62925&extension=webp&hash=6794C31B7DAFDBD6257081B4C94C1A6F"></td>
                            <td>
                                <h4><strong><span style="color: #4099da;">Decarbonising society with Power-to-X</span></strong>
                                </h4>
                                <ul class="whitepapers-tags">
                                    <li class="badge badge-primary" data-tag="nature">Nature</li>
                                    <li class="badge badge-primary" data-tag="building-green">Building Green</li>
                                    <li class="badge badge-primary" data-tag="greentech">Greentech</li>
                                </ul>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio voluptate minus
                                    praesentium ea, ex eligendi delectus adipisci. Sapiente voluptatibus minus dolores
                                    magnam, provident quam aperiam error minima debitis ipsa officiis.</p>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: center;" class="whitepapers-img-wrapper"><img class="whitepaper-img" src="https://orstedcdn.azureedge.net/-/media/www/images/corp/whitepapers/whitepaper-covers/takingaction_forside.ashx?mh=1440&mw=1440&rev=c5ee0c05bfa842fa848e142cae563642&extension=webp&hash=C3B739C2A03E2749CBEFF13E17273B6C"></td>
                            <td>
                                <h4><strong><span style="color: #4099da;">Taking action to stay within 1.5°C</span></strong>
                                </h4>
                                <ul class="whitepapers-tags">
                                    <li class="badge badge-primary" data-tag="building-green">Building Green</li>
                                    <li class="badge badge-primary" data-tag="capital">Capital</li>
                                    <li class="badge badge-primary" data-tag="nature">Nature</li>
                                </ul>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio voluptate minus
                                    praesentium ea, ex eligendi delectus adipisci. Sapiente voluptatibus minus dolores
                                    magnam, provident quam aperiam error minima debitis ipsa officiis.</p>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: center;" class="whitepapers-img-wrapper"><img class="whitepaper-img" src="https://orstedcdn.azureedge.net/-/media/www/images/corp/whitepapers/whitepaper-covers/european-green-deal-forside.ashx?mh=1440&mw=1440&rev=1e1cff91d3344b2fa423b2e9385cc6ca&extension=webp&hash=E62F8C3E189361FA108D20E911F448C7"></td>
                            <td>
                                <h4><strong><span style="color: #4099da;">A European green deal </span></strong>
                                </h4>
                                <ul class="whitepapers-tags">
                                    <li class="badge badge-primary" data-tag="nature">Nature</li>
                                    <li class="badge badge-primary" data-tag="building-green">Building Green</li>
                                    <li class="badge badge-primary" data-tag="capital">Capital</li>
                                    <li class="badge badge-primary" data-tag="greentech">Greentech</li>
                                </ul>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio voluptate minus
                                    praesentium ea, ex eligendi delectus adipisci. Sapiente voluptatibus minus dolores
                                    magnam, provident quam aperiam error minima debitis ipsa officiis.</p>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: center;" class="whitepapers-img-wrapper"><img class="whitepaper-img" src="https://orstedcdn.azureedge.net/-/media/www/images/corp/whitepapers/whitepaper-covers/makinggreenenergy_forside.ashx?mh=1440&mw=1440&rev=2ba09f8e4fde4749a71c22a6871d2217&extension=webp&hash=F55617E49DD2E9D277AC04B27AD95A40"></td>
                            <td>
                                <h4><strong><span style="color: #4099da;">Making green energy affordable</span></strong>
                                </h4>
                                <ul class="whitepapers-tags">
                                    <li class="badge badge-primary" data-tag="building-green">Building Green</li>
                                    <li class="badge badge-primary" data-tag="greentech">Greentech</li>
                                    <li class="badge badge-primary" data-tag="capital">Capital</li>
                                </ul>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio voluptate minus
                                    praesentium ea, ex eligendi delectus adipisci. Sapiente voluptatibus minus dolores
                                    magnam, provident quam aperiam error minima debitis ipsa officiis.</p>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: center;" class="whitepapers-img-wrapper"><img class="whitepaper-img" src="https://orstedcdn.azureedge.net/-/media/www/images/corp/whitepapers/whitepaper-covers/europepoweredbygreenenergy_forside.ashx?mh=1440&mw=1440&rev=0388816c85934ad9a2f9601789beb485&extension=webp&hash=4945C094B95B7518C4DC4777D0DE9908"></td>
                            <td>
                                <h4><strong><span style="color: #4099da;">Europe powered by green energy</span></strong>
                                </h4>
                                <ul class="whitepapers-tags">
                                    <li class="badge badge-primary" data-tag="nature">Nature</li>
                                    <li class="badge badge-primary" data-tag="capital">Capital</li>
                                    <li class="badge badge-primary" data-tag="building-green">Building Green</li>
                                </ul>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio voluptate minus
                                    praesentium ea, ex eligendi delectus adipisci. Sapiente voluptatibus minus dolores
                                    magnam, provident quam aperiam error minima debitis ipsa officiis.</p>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: center;" class="whitepapers-img-wrapper"><img class="whitepaper-img" src="https://orstedcdn.azureedge.net/-/media/www/images/corp/whitepapers/whitepaper-covers/euframework_cover.ashx?mh=1440&mw=1440&rev=f49661bd701b4a12bb739dc5171c9e06&extension=webp&hash=BC2C0558E03FED01F48687BFE722DEF4"></td>
                            <td>
                                <h4><strong><span style="color: #4099da;">Regulatory set-up for hybrid offshore wind projects</span></strong>
                                </h4>
                                <ul class="whitepapers-tags">
                                    <li class="badge badge-primary" data-tag="capital">Capital</li>
                                    <li class="badge badge-primary" data-tag="nature">Nature</li>
                                </ul>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio voluptate minus
                                    praesentium ea, ex eligendi delectus adipisci. Sapiente voluptatibus minus dolores
                                    magnam, provident quam aperiam error minima debitis ipsa officiis.</p>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: center;" class="whitepapers-img-wrapper"><img class="whitepaper-img" src="https://orstedcdn.azureedge.net/-/media/feature/vocastimport/2021/08/flag_5_1600px_727041495730493.ashx?mh=400&mw=400&rev=172f9889066e4969b255b5c41bed4827&hash=4177CC557F98694296F564BC5471642A"></td>
                            <td>
                                <h4><strong><span style="color: #4099da;">Ørsted to present results for first half-year 2021 on 12 August</span></strong>
                                </h4>
                                <ul class="whitepapers-tags">
                                    <li class="badge badge-primary" data-tag="capital">Capital</li>
                                    <li class="badge badge-primary" data-tag="building-green">Building Green</li>
                                    <li class="badge badge-primary" data-tag="nature">Nature</li>
                                </ul>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio voluptate minus
                                    praesentium ea, ex eligendi delectus adipisci. Sapiente voluptatibus minus dolores
                                    magnam, provident quam aperiam error minima debitis ipsa officiis.</p>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: center;" class="whitepapers-img-wrapper"><img class="whitepaper-img" src="https://orstedcdn.azureedge.net/-/media/feature/vocastimport/2021/08/dsm_585627261835896.ashx?mh=400&mw=400&rev=e2347b8698d24708be9022e912f24c25&hash=BD06324C662B855C2DD66A76DD1418B7"></td>
                            <td>
                                <h4><strong><span style="color: #4099da;">Ørsted signs power purchase agreement with Royal DSM</span></strong>
                                </h4>
                                <ul class="whitepapers-tags">
                                    <li class="badge badge-primary" data-tag="greentech">Greentech</li>
                                    <li class="badge badge-primary" data-tag="nature">Nature</li>
                                    <li class="badge badge-primary" data-tag="capital">Capital</li>
                                </ul>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio voluptate minus
                                    praesentium ea, ex eligendi delectus adipisci. Sapiente voluptatibus minus dolores
                                    magnam, provident quam aperiam error minima debitis ipsa officiis.</p>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: center;" class="whitepapers-img-wrapper"><img class="whitepaper-img" src="https://orstedcdn.azureedge.net/-/media/feature/vocastimport/2021/08/wtw_773526017823823.ashx?mh=400&mw=400&rev=dac670252836459aae15ff0744e0cf67&hash=788E4D250D025622197768784B33E749"></td>
                            <td>
                                <h4><strong><span style="color: #4099da;">Ørsted completes largest onshore wind project to date</span></strong>
                                </h4>
                                <ul class="whitepapers-tags">
                                    <li class="badge badge-primary" data-tag="greentech">Greentech</li>
                                </ul>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio voluptate minus
                                    praesentium ea, ex eligendi delectus adipisci. Sapiente voluptatibus minus dolores
                                    magnam, provident quam aperiam error minima debitis ipsa officiis.</p>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: center;" class="whitepapers-img-wrapper"><img class="whitepaper-img" src="https://orstedcdn.azureedge.net/-/media/feature/vocastimport/2021/08/flag_6_285383790677311.ashx?mh=400&mw=400&rev=ef4ba7a4c34f425e9ae7174ce3086028&hash=6168D631072918C30BEFE468BF2549D4"></td>
                            <td>
                                <h4><strong><span style="color: #4099da;">Changes in Ørsted Executive Committee</span></strong>
                                </h4>
                                <ul class="whitepapers-tags">
                                    <li class="badge badge-primary" data-tag="building-green">Building Green</li>
                                    <li class="badge badge-primary" data-tag="greentech">Greentech</li>
                                </ul>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio voluptate minus
                                    praesentium ea, ex eligendi delectus adipisci. Sapiente voluptatibus minus dolores
                                    magnam, provident quam aperiam error minima debitis ipsa officiis.</p>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: center;" class="whitepapers-img-wrapper"><img class="whitepaper-img" src="https://orstedcdn.azureedge.net/-/media/feature/vocastimport/2021/07/walney_8_18_148_800px_759820672824741.ashx?mh=400&mw=400&rev=b2912b369c164bd1ab2041fdd6f44d07&hash=4F7C07D40CE0017C4085D15BFFF07185"></td>
                            <td>
                                <h4><strong><span style="color: #4099da;">Ørsted announces partnership with Falck Renewables and BlueFloat Energy to unlock floating wind potential in Scotland</span></strong>
                                </h4>
                                <ul class="whitepapers-tags">
                                    <li class="badge badge-primary" data-tag="nature">Nature</li>
                                </ul>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio voluptate minus
                                    praesentium ea, ex eligendi delectus adipisci. Sapiente voluptatibus minus dolores
                                    magnam, provident quam aperiam error minima debitis ipsa officiis.</p>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: center;" class="whitepapers-img-wrapper"><img class="whitepaper-img" src="https://orstedcdn.azureedge.net/-/media/feature/vocastimport/2021/06/avv_4419_argb_high_1600px_857452362384936.ashx?mh=400&mw=400&rev=0128d847f2ea4aa9978b804ed3143f59&hash=657C7904D4A3FE6431F6159C86199934"></td>
                            <td>
                                <h4><strong><span style="color: #4099da;">Ørsted plans carbon capture at Avedøre Power Station as part of the Green Fuels for Denmark project</span></strong>
                                </h4>
                                <ul class="whitepapers-tags">
                                    <li class="badge badge-primary" data-tag="greentech">Greentech</li>
                                    <li class="badge badge-primary" data-tag="capital">Capital</li>
                                    <li class="badge badge-primary" data-tag="nature">Nature</li>
                                    <li class="badge badge-primary" data-tag="building-green">Building Green</li>
                                </ul>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio voluptate minus
                                    praesentium ea, ex eligendi delectus adipisci. Sapiente voluptatibus minus dolores
                                    magnam, provident quam aperiam error minima debitis ipsa officiis.</p>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: center;" class="whitepapers-img-wrapper"><img class="whitepaper-img" src="https://orstedcdn.azureedge.net/-/media/feature/vocastimport/2021/06/press_uk_363524256672655.ashx?mh=400&mw=400&rev=425a2bc213424929bae3914043edc57b&hash=C7136546E76B860B1B1BD9AB14B715C9"></td>
                            <td>
                                <h4><strong><span style="color: #4099da;">Ørsted joins Norwegian offshore wind consortium with Fred. Olsen Renewables and Hafslund Eco</span></strong>
                                </h4>
                                <ul class="whitepapers-tags">
                                    <li class="badge badge-primary" data-tag="nature">Nature</li>
                                </ul>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio voluptate minus
                                    praesentium ea, ex eligendi delectus adipisci. Sapiente voluptatibus minus dolores
                                    magnam, provident quam aperiam error minima debitis ipsa officiis.</p>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: center;" class="whitepapers-img-wrapper"><img class="whitepaper-img" src="https://orstedcdn.azureedge.net/-/media/feature/vocastimport/2021/06/working_paper_orsted_wri_406321534741490.ashx?mh=400&mw=400&rev=d5c6fa07adfd4236a0fb5c3676f5e54c&hash=133FDE682688440D9430B75CB2DA79F0"></td>
                            <td>
                                <h4><strong><span style="color: #4099da;">World Resources Institute and Ørsted: How governments can scale up private sector investment in the renewable energy transition</span></strong>
                                </h4>
                                <ul class="whitepapers-tags">
                                    <li class="badge badge-primary" data-tag="building-green">Building Green</li>
                                    <li class="badge badge-primary" data-tag="greentech">Greentech</li>
                                    <li class="badge badge-primary" data-tag="nature">Nature</li>
                                </ul>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio voluptate minus
                                    praesentium ea, ex eligendi delectus adipisci. Sapiente voluptatibus minus dolores
                                    magnam, provident quam aperiam error minima debitis ipsa officiis.</p>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: center;" class="whitepapers-img-wrapper"><img class="whitepaper-img" src="https://orstedcdn.azureedge.net/-/media/feature/vocastimport/2021/06/_mg_8292p_1600px_697759855099726.ashx?mh=400&mw=400&rev=31d954f5488f4effbc79112528fe39b7&hash=431458487CB1AE21A2A04452743AE88F"></td>
                            <td>
                                <h4><strong><span style="color: #4099da;">Ørsted aims for net-positive biodiversity impact from new projects commissioned from 2030</span></strong>
                                </h4>
                                <ul class="whitepapers-tags">
                                    <li class="badge badge-primary" data-tag="greentech">Greentech</li>
                                    <li class="badge badge-primary" data-tag="building-green">Building Green</li>
                                </ul>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio voluptate minus
                                    praesentium ea, ex eligendi delectus adipisci. Sapiente voluptatibus minus dolores
                                    magnam, provident quam aperiam error minima debitis ipsa officiis.</p>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: center;" class="whitepapers-img-wrapper"><img class="whitepaper-img" src="https://orstedcdn.azureedge.net/-/media/feature/vocastimport/2021/06/vindeby_38_702084352457649.ashx?mh=400&mw=400&rev=f1803eb751094426894686dac3340d1b&hash=B35A4B11031509E709E19F826EB0CB7D"></td>
                            <td>
                                <h4><strong><span style="color: #4099da;">Ørsted commits to sustainable recycling of wind turbine blades</span></strong>
                                </h4>
                                <ul class="whitepapers-tags">
                                    <li class="badge badge-primary" data-tag="building-green">Building Green</li>
                                    <li class="badge badge-primary" data-tag="nature">Nature</li>
                                </ul>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio voluptate minus
                                    praesentium ea, ex eligendi delectus adipisci. Sapiente voluptatibus minus dolores
                                    magnam, provident quam aperiam error minima debitis ipsa officiis.</p>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: center;" class="whitepapers-img-wrapper"><img class="whitepaper-img" src="https://orstedcdn.azureedge.net/-/media/feature/vocastimport/2021/05/borssele_i_and_ii_419222030612334.ashx?mh=400&mw=400&rev=004cf93ca8e540309ac6f4caedf7f0db&hash=7FC289883C9E86034195ADA12051FF4D"></td>
                            <td>
                                <h4><strong><span style="color: #4099da;">Ørsted completes partnership with Norges Bank Investment Management on Borssele 1 & 2</span></strong>
                                </h4>
                                <ul class="whitepapers-tags">
                                    <li class="badge badge-primary" data-tag="greentech">Greentech</li>
                                    <li class="badge badge-primary" data-tag="building-green">Building Green</li>
                                    <li class="badge badge-primary" data-tag="nature">Nature</li>
                                </ul>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio voluptate minus
                                    praesentium ea, ex eligendi delectus adipisci. Sapiente voluptatibus minus dolores
                                    magnam, provident quam aperiam error minima debitis ipsa officiis.</p>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: center;" class="whitepapers-img-wrapper"><img class="whitepaper-img" src="https://orstedcdn.azureedge.net/-/media/feature/vocastimport/2021/05/avedore_power_station_537308985671172.ashx?mh=400&mw=400&rev=a55aaa10f83645439a5bbdde20e16505&hash=1210A19B794420690DCCD17061730BFF"></td>
                            <td>
                                <h4><strong><span style="color: #4099da;">Ørsted and HOFOR enter into agreement on green power for groundbreaking hydrogen project</span></strong>
                                </h4>
                                <ul class="whitepapers-tags">
                                    <li class="badge badge-primary" data-tag="building-green">Building Green</li>
                                    <li class="badge badge-primary" data-tag="nature">Nature</li>
                                </ul>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio voluptate minus
                                    praesentium ea, ex eligendi delectus adipisci. Sapiente voluptatibus minus dolores
                                    magnam, provident quam aperiam error minima debitis ipsa officiis.</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<!--	Content	# end	-->
{{/body}}

</html>
