<body class="site-theme-blue" id="lang-en">
    <!-- doCDN -->
    {{> nav filename=filename}}
    <main id="main" role="main">
        {{> @partial-block }}
        {{> footer}}
    </main>
    
    <script type="text/javascript" src="/Assets_/dist/js/runtime.js"></script>
    <script type="text/javascript" src="/Assets_/dist/js/app-print.js"></script>
    <script type="text/javascript" src="/Assets_/dist/js/vendor.js"></script>
    <script type="text/javascript" src="/Assets_/dist/js/app.js"></script>
</body>
