<noindex>
    <footer class="footer">
        <a href="#top" class="skip">Return to the top</a>
        <div class="row">
            <div class="col-12 col-lg-2">
                <address>
                    <strong>Copyright &Oslash;rsted&nbsp; 2023</strong>
                </address>
            </div>
            <div class="col-12 col-lg-3">
                <div class="footer-heading"></div>
                <div class="footer-social">
                    <div class="social-flex">
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-7">
                <div class="richtext">
                    <p>The Ørsted vision is a world that runs entirely on green energy.</p>
                </div>
            </div>
        </div>
    </footer>
</noindex>
