<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="format-detection" content="telephone=no" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>{{#if title}}{{title}}{{else}}&#216;rsted - Love your home{{/if}}</title>

<link rel="preload" href="/Assets_/dist/fonts/OrstedSans-Regular.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="/Assets_/dist/fonts/dong-maine.woff" as="font" type="font/woff2" crossorigin>

<link media="screen, print" href="/Assets_/dist/css/vendor.css" rel="stylesheet">
<link media="screen, print" href="/Assets_/dist/css/app.css" rel="stylesheet">
<link media="print" href="/Assets_/dist/css/app-print.css" rel="stylesheet">

<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.min.js"
    integrity="sha384-ZvpUoO/+PpLXR1lu4jmpXWu80pZlYUAfxl5NsBMWOEPSjUn/6Z/hRTt8+pR6L4N2"
    crossorigin="anonymous"></script>
<script>
    (function (global, $) {
        const jquery = $.noConflict();
        global["OrstedJquery"] = jquery;
        global["jQuery"] = jquery;
        global["$"] = jquery;
    })(window, jQuery);
</script>

<script>
    var DateFormatingOptions = {
        dateFormat: 'DD.MM.YYYY HH:mm',
        jobdateFormat: 'DD.MM.YYYY'
    }
</script>
