<div class="headerSliderCorporate">
    <div class="headerSlider-spacer"></div>
    <header class="headerSlider">
        <div class="headerSlider-top">
            <div class="nav-overlay"></div>
            <div class="headerSlider-top-inner">
                <div class="header-left">
                    <div class="header-logo">
                        <a class="header-logo-link" href="/">
                            <img class="header-logo-image-mobile"
                                src="https://orstedcdn.azureedge.net/-/media/WWW/Images/Corp/Graphics/Logos/Orsted-logo/OrstedLogoPNG.ashx?mh=1440&mw=1440&rev=1e368a23dd1a4420a4109229a082da76&hash=10B0291B02EA839A39291058A409417E"
                                alt="logo">
                            <img class="header-logo-image-desktop"
                                src="https://orstedcdn.azureedge.net/-/media/WWW/Images/Corp/Graphics/Logos/Orsted-logo/OrstedLogoPNG.ashx?mh=1440&mw=1440&rev=1e368a23dd1a4420a4109229a082da76&hash=10B0291B02EA839A39291058A409417E"
                                alt="logo">
                        </a>
                    </div>
                    <div class="header-navigation">
                        <div class="header-navigation-inner">
                            <nav class="headerMegaNavigation"
                                role="navigation">
                                <div class="responsiveBackTo-menu">Back</div>
                                <ul class="headerMegaNavigation-menu">
                                    <li class="headerMegaNavigation-menu-item">
                                        <a class="headerMegaNavigation-menu-item-link  megaNavigation-submenu-trigger {{#if (eq filename "sustainability.html")}}isPageAncestor{{/if}}"
                                            href="/sustainability.html">Sustainability</a>
                                    </li>
                                    <li class="headerMegaNavigation-menu-item">
                                        <a class="headerMegaNavigation-menu-item-link  megaNavigation-submenu-trigger {{#if (eq filename "shares.html")}}isPageAncestor{{/if}}"
                                            href="/shares.html">Shares</a>
                                    </li>
                                    <li class="headerMegaNavigation-menu-item">
                                        <a class="headerMegaNavigation-menu-item-link  megaNavigation-submenu-trigger {{#if (eq filename "whitepapers.html")}}isPageAncestor{{/if}}"
                                            href="/whitepapers.html">Whitepapers</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
</div>
