<noindex>
    <div class="headerSliderCorporate main-navigation enable-animation ">
        <div class="skip-nav-wrap">
            <a id="skipNavBtn" href="#" class="skip-link" role="button">Skip navigation</a>
        </div>
        <div class="headerSlider-spacer"></div>
        <header class="headerSlider">
            <div class="headerSlider-top">
                <div class="nav-overlay"></div>
                <div class="headerSlider-top-inner">
                    <div class="header-left">
                        <div class="header-logo">
                            <a class="header-logo-link" href="/">
                                <img class="header-logo-image-mobile" width="80" height="24"
                                    src="/images/logo/OrstedLogo_SVG.svg"
                                    alt="logo">
                                <img class="header-logo-image-desktop" width="100" height="30"
                                    src="/images/logo/OrstedLogo_SVG.svg"
                                    alt="logo">
                            </a>
                        </div>
                        <div class="header-navigation">
                            <div class="header-navigation-inner">
                                <nav class="headerMegaNavigation megaNavigation-dk-business">
                                    <div class="responsiveBackTo-menu">Back</div>
                                    <ul class="headerMegaNavigation-menu">
                                        <li class="headerMegaNavigation-menu-item main-navigation__menu-item--left">
                                            <a class="headerMegaNavigation-menu-item-link  megaNavigation-submenu-trigger"
                                                href="/en/insights"><span>Insights</span></a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    </div>
</noindex>
